@font-face {
  font-family: 'fontello';
  src: url('fontello/font/fontelloa549a549.eot?63284743');
  src: url('fontello/font/fontelloa549a549.eot?63284743#iefix') format('embedded-opentype'),
       url('fontello/font/fontelloa549a549.woff?63284743') format('woff'),
       url('fontello/font/fontelloa549a549.ttf?63284743') format('truetype'),
       url('fontello/font/fontelloa549a549.svg?63284743#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.myFont{
    font-family:'Montserrat',sans-serif,Arial; padding-bottom: 5px; 
    color: #373432; 
    line-height: 1em; 
    font-weight: normal;
 }

.myst {
}